<template>
  <div class="home">
    <IntroComponent />
  </div>
</template>

<script>
import IntroComponent from 'components/IntroComponent'

export default {
  components: {
    IntroComponent
  }
}
</script>

<style scoped>
  .home {
    height: 100%;
  }
</style>