*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        height: 100%;

        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 13px;
        color: #000000;


        & .global-container {
            height: 100%;
        }
    }
}