<template>
  <div class="intro-outer">
    <div class="intro-inner">
      Welcome to <v-icon>{{ calendarFont }}</v-icon> <br> Bulletin Board
    </div>
  </div>
</template>

<script>
import { mdiCalendar } from '@mdi/js'

export default {
  data: () => ({
    calendarFont: mdiCalendar
  })
}
</script>

<style lang="scss">
    h1 {
        font-family: "Roboto";
    }
    .intro-outer {
      display: table;
      width: 100%;
      height: 100%;
      .intro-inner {
        width: 100%;
        height: 100%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        font-size: 80px;
        color: #e8e8e8;
      }
    }
</style>
